.hero {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

.hero img {
    margin: 100px 5vw 160px 5vw;
    min-width: 27vw;
}

.custom-shape-divider-top-1666375630 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1666375630 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1666375630 .shape-fill {
    fill: #FAF9F6;
}

.custom-shape-divider-bottom-1666376713 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666376713 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1666376713 .shape-fill {
    fill: #FAF9F6;
}

.welcome-info {
    background-color: #0A1D33;
    padding-top: 200px;
    padding-bottom: 100px;
    color: #FAF9F6;
    position: relative;
}

.welcome-info p {
    font-size: 24px;
    text-align: center;
}

.welcome-info button {
    border-color: #0A1D33;
}

.companies {
    position: relative;
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 400;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    width: 20%;
    height: 20%;
}

.logo img {
    width: 100%;
}

.reviewsec {
    background-color: #791233;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #FAF9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.review {
    display: flex;
    gap: 20px;
    background-color: #FAF9F6;
    padding: 20px;
    border-radius: 16px;
    color: black;
    box-shadow: 14px 14px 0px 1px rgb(250, 249, 246, 0.25);
}

.review img {
    border-radius: 50%;
    width: 160px;
}

.review h3 {
    margin: 0;
}

.review p {
    font-weight: 500;
}

.review h4 {
    font-weight: 400;
    margin: 0;
}

.person {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-shape-divider-top-1666499501 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1666499501 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 63px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1666499501 .shape-fill {
    fill: #FAF9F6;
}

.custom-shape-divider-bottom-1667243333 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667243333 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1667243333 .shape-fill {
    fill: #0A1D33;
}


@media screen and (max-width: 1000px) {
    .custom-shape-divider-bottom-1666376713 svg {
        width: calc(264% + 1.3px);
        height: 90px;
    }

    .custom-shape-divider-top-1666375630 svg {
        width: calc(200% + 1.3px);
        height: 80px;
    }

    .custom-shape-divider-top-1666499501 svg {
        width: calc(285% + 1.3px);
        height: 53px;
    }

    .custom-shape-divider-bottom-1667243333 svg {
        width: calc(200% + 1.3px);
        height: 25px;
    }
}

@media screen and (max-width: 720px) {
    .logos {
        flex-direction: column;
    }

    .logo {
        width: 50%;
        margin: 5px;
    }

    .review {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .custom-shape-divider-bottom-1666376713 svg {
        width: calc(364% + 1.3px);
        height: 60px;
    }

    .custom-shape-divider-top-1666375630 svg {
        width: calc(300% + 1.3px);
        height: 50px;
    }

    .custom-shape-divider-top-1666499501 svg {
        width: calc(385% + 1.3px);
        height: 53px;
    }

    .custom-shape-divider-bottom-1667243333 svg {
        width: calc(300% + 1.3px);
        height: 25px;
    }
}
