.section {
    margin: 50px 0;
}

.section h1 {
    font-weight: 600;
    margin-top: 0;
}

.section h2 {
    font-weight: 600;
}

.section li {
    font-size: 18px;
    margin: 5px 0;
}

.section p {
    font-size: 18px;
}

.wwd-button {
    margin: 0;
    font-size: 18px;
    padding: 7px 20px;
}